main {
  display: flex;
  flex-direction: column;
  padding: var(--space-3xl) 0;
  text-align: center;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
  color: var(--color-white);
  text-align: center;
}

#presentazione {
  color: var(--color-white);
  text-align: center;
}

#presentazione h2 {
  margin-bottom: var(--space-lg);
}

#svgContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: var(--space-lg) auto;
  width: var(--card-image-width);
  background-position: center;
}

.svgItself {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  object-fit: contain;
}
