/* MAIN */
main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* 3 COLONNE */
#container_contact {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* BOX STYLE (stile card del tuo esempio) */
#form_container,
#contact,
#image_contact {
  min-width: 180px;
  padding: 20px;
  margin: 0;
  background: linear-gradient(
    to right,
    rgba(189, 43, 226, 0.548),
    rgba(194, 135, 209, 0.6)
  );
  border: solid black 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
  color: white;
}

h2 {
  margin: 0px 0px 20px 0px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
}

/* CENTRATURA CONTENUTI */
#form_container,
#contact,
#image_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: right;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

/* BUTTON stile tuo */
button {
  margin-top: 20px;
  background-color: #ff7e5f;
  color: white;
  border-radius: 40px;
  padding: 15px 15px;
  border: none;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

/* CONTACT TEXT */
.contact-item {
  font-weight: bold;
}

/* IMMAGINE */
.infoImgContainer {
  /* min-width: 180px; */
  width: 250px;
  height: 200px;
  overflow: hidden;
  background-position: center;
  border-radius: 5px;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
}

.infoImgItself {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  object-fit: cover;
}

/* FOOTER */
footer {
  background: rgb(190, 43, 226);
  color: white;

  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  #container_contact {
    grid-template-columns: 1fr;
  }
}
