main {
  height: 100%;
}

.cardSection {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .cardSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 481px) {
  .cardSection {
    grid-template-columns: 1fr;
  }
}
